.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
  }
  

  .footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  